@media only screen and (max-width: 600px){
    body{
        width: 100vw;
        height: 100vh;
        font-size: 20px;
    }
    section{
        padding-top: 20%;
        height: 100%;
        width: 100%;
        margin-top: 10% ;
        margin-bottom: 30%;
    }
    a{
        width: 90%;
        margin: 15px auto;
    }
}

/* @media only screen and (max-width: 440px){
    body{
        height: 100vh;
        font-size: 12px;
    }
    section{
        height: 100%;
        margin-top: 10% ;
        margin-bottom: 30%;
    }
    a{
        width: 250px;
    }
    
} */